    <body>{
background: black;
color: white;
    }


header {
    border: solid 2px white;
}
header {
    border: solid 2px rgb(42, 122, 228);
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
}body {
    color: white;
    background: black;
    margin: 0px;

}header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color:rgb(42, 122, 228);
}
section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
<section>
    <div class="chamada-texto">
        <h1>ATRAVÉS DO ARANHAVERSO SUPERA O PRIMEIRO FILME?</h1>
        <p>#homem-aranha</p>
    </div>

    <!-- código omitido -->
</section>





